/******** COLORS *******/

.root {
    stencil-base : #ffff80;
    stencil-selected : #80ff80;

    linked : stencil-selected;
    unlinked : stencil-base;
    error : #ff8080;
}

/******** COLOR PICKER *******/

.color-picker.stroke,
.color-picker.fill {
    -fx-color-label-visible : false;
    -fx-background-size: 16 16;
    -fx-background-position: 4 center;
    -fx-background-repeat: no-repeat;
}

.color-picker.stroke {
    -fx-background-image: url(icons/format-stroke-color.png);
}
.color-picker.fill {
    -fx-background-image: url(icons/format-fill-color.png);
}

.color-picker.stroke .color-picker-label,
.color-picker.fill .color-picker-label {
    -fx-padding: 5 5 5 24;
}

/******** DOCK *******/
.dock-title {
    -fx-padding : 2px;
    -fx-background-color: #C5CEDE;
}
.dock-title > .label {
    -fx-text-fill : black;
}

/******** STENCIL *******/

.stencil {
    -fx-fill-width : true;
    -fx-alignment : top-center;
    -fx-spacing : 2px;
}

.stencil > .toggle-button {
    -fx-base : stencil-base;
    -fx-padding : 0;
 }

.stencil > .toggle-button:selected,
.stencil > .toggle-button:hover {
    -fx-base : stencil-selected;
    -fx-hover-base : stencil-selected;
 }

.stencil > .label {
    -fx-wrap-text : true;
    -fx-alignment : top-center;
    -fx-text-alignment : center;
}

/******** SHAPE SHEET *******/

.shape-sheet .heading {
    -fx-font-size: 20pt;
    -fx-padding: 6px;
}

.namedCellsAndRows {
    -fx-spacing : 6px;
}

.named-cells {
    -fx-hgap : 6px;
}

.row-cells {
    -fx-padding : 6px 6px 6px 12px;
    -fx-hgap : 12px;
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1;
}

.row-cells > .header {
    -fx-padding : 0 0 6px 0;
}

.expression {
    -fx-base : unlinked;
}
.expression.linked {
    -fx-base : linked;
}
.expression.error,
.expression .error,
.variable.error,
.variable .error {
    -fx-base : error;
}

.hideExpressions .expression {
    visibility: hidden;
}
.hideExpressions .variable {
    visibility: hidden;
}

.hideValues .value {
    visibility: hidden;
}

.value {
    -fx-background-insets: 0
}

.variable.hbox,
.value.hbox {
    -fx-spacing: 10px;
    -fx-alignment: baseline-left;
}

/******** STANDARD LAYOUTS *******/

.buttons {
    -fx-padding : 6px;
    -fx-alignment: top-right;
    -fx-spacing: 12px;
}

.buttons .button {
    -fx-min-width: 100px;
}

/******** PROPERTIES *******/

.properties-grid {
    -fx-padding : 6px 6px 6px 12px;
    -fx-hgap : 12px;
    -fx-vgap : 6px;
}

/********** Dockable ********/

.drag-dockable .dock-side .spacer.drag-over {
    -fx-background-color : -fx-accent;
}

.drag-dockable .dock-side .spacer,
.drag-dockable.floating .spacer {
    -fx-padding : 10px;
    -fx-border-width: 2px;
    -fx-border-color: -fx-accent;
}

/******** END *******/
